.Services {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 100px 0;
}

.ServicesCard {
    color: #fff;
    background-color: #051e33;
    padding: 20px 40px;
    border: 2px #41EAD4 solid;
    border-radius: 10px;
    letter-spacing: 1px;

}

.ServicesCard img {
    margin: 10px 0;
    width: 70px;
}

.ServicesCard h2 {
    text-align: start !important;
    margin-top: 20px;
}

.ServicesCard p {
    margin: 20px 0;
    font-size: 17px;
    text-align: start !important;
}

/* Responsive Design for Medium Screens */
@media (max-width: 992px) {
    .Services {
        flex-direction: column;
        gap: 20px;
        width: 90%;
        margin: auto;
    }

    .ServicesCard {
        padding: 20px;
    }
}

/* Responsive Design for Small Screens */
@media (max-width: 768px) {
    .ServicesCard {
        padding: 15px 30px;
    }

    .ServicesCard img {
        width: 60px;
    }

    .ServicesCard p {
        font-size: 0.875rem;
        /* 14px */
    }
}

@media (max-width: 576px) {
    .ServicesCard {
        padding: 10px 20px;
    }

    .ServicesCard img {
        width: 50px;
    }

    .ServicesCard p {
        font-size: 0.75rem;
        /* 12px */
    }
}