.navbar {
    padding: 1rem 5rem !important;
    background-color: #022138 !important;
    color: #fff !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-family: 'Kanit', sans-serif;
}

.navbar ul {
    margin-left: 250px;
}

.NavLogo {
    display: flex;
    gap: 20px;
}

.NavLogo a {
    font-size: 17px;
    font-weight: bold;
    margin-top: 8px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 700;
    font-style: italic;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.NavLogo a:hover {
    color: #fff;
}

.nav-item a {
    font-size: 17px;
    font-weight: 600;
    color: #fff !important;
}



.navbar.scrolled {
    background-color: #fff;
}

.icon-navbar {
    display: flex;
}

.icon-navbar a {
    margin: 0 10px;
    color: #fff !important;
    font-size: 20px;
}


.navbar-toggler {
    color: #FFF !important;
    font-size: 20px;
}

/* responsive mobile */

@media (max-width:992px) {
    .navbar {
        padding: 10px !important;
        text-align: start;
        width: 100%;
    }

    .navbar ul {
        margin-top: 10px;
        margin-left: 0px;
    }

    .navbar ul li {
        border-bottom: 1px solid #fff;
        padding: 5px;
        color: #fff !important;
        margin: 5px 0;
    }

    .navbar ul li a {
        font-size: 13px;
        color: #fff !important;
    }

    .NavLogo img {
        width: 40px;
        border-radius: 50%;
    }

    .NavLogo a {
        font-size: 18px;
    }

    .navbar-toggler-icon {
        width: 20px !important;
        color: #fff;
        padding: 10px;
        border: #fff 1px solid;
    }

    .nav-item a {
        color: #fff !important;
    }

    .icon-navbar {
        display: none;
    }
}