.Footer {
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 100px 50px;
    font-family: 'Kanit', sans-serif;
    margin-top: 25px;
    border-bottom: 1px solid#fff;
}

.left-Footer {
    text-align: start;
}

.left-Footer p {
    margin-top: 30px;
}

.icon-Footer {
    margin-top: 35px;
}

.icon-Footer a {
    width: 30px;
    margin: 0 10px;
    font-size: 25px;
    color: #fff;
}

.lower-Footer {
    color: #fff;
    padding: 20px 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
}

/* responsive mobile */

@media(max-width:992px) {
    .Footer {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        width: fit-content;
        font-size: 14px;
    }

    .left-Footer, .right-Footer {
        text-align: start;
    }

    .lower-Footer {
        color: #fff;
        padding: 15px 8px;
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
    }
}