.experience {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.experience h2 {
    margin: 15px 0;
}

.cert-btn {
    margin: 15px 0;
    padding: 10px 34px;
    background-color: #fff;
    color: #02223B;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    letter-spacing: 1px;
}

.cert-btn:hover {
    background-color: transparent;
    color: #fff;
    outline: 1px solid#fff;
}



.experience-left, .experience-right {
    text-align: start;
    margin: 50px 0;
    padding: 20px;
    background: linear-gradient(#02223B, #02223B) padding-box,
        linear-gradient(1000deg, transparent 35%, #41EAD4, #40c9ff) border-box;
    border: 2px solid transparent;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    /* animation: gradient 3s ease infinite; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 50% 80%;
    }

    100% {
        background-position: 80% 100%;
    }
}

.experience-left p, .experience-right p {
    width: 400px;
    text-align: start;
    margin: 15px 0;
    letter-spacing: 1px;
}

.experience-left img, .experience-right img {
    width: 200px;
    color: #fff;
    margin-left: 50px;
    border-radius: 50%;
}

@media(max-width:992px) {
    .experience {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .experience-left, .experience-right {
        width: 90%;
        margin: auto;
        text-align: start;
    }


    .experience-left p, .experience-right p {
        text-align: start;
        letter-spacing: 1px;
        width: 100%;
        margin: auto;
    }

    .experience-left span, .experience-right span {
        text-align: start;

    }

    .experience-left img, .experience-right img {
        width: 200px;
        color: #fff;
        margin-left: 0;
        margin-top: 50px;
    }

}